	<!-- page header -->
	<!--- Note from Carolyn C: all pages that are not logged (excluding the login screen) need this content col!-->
	<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 content-col">
		<div class="page-header vertical-align">
			<div class="col-xs-11">
				<h2>About<small> - information, authors and acknowledgements</small></h2><!-- Dynamically fills in with school id -->
				<% if logged_out? %>
					<%= link_to "Back to login", login_path %>
				<% end %>
			</div>
			<div class="col-xs-1 center-block">
				<div class="header-sq i-gray" title="All about Dinner Out">
					<span class="fa fa-info fa-3x teacher-icon"></span>
				</div>
			</div>
		</div><!--End page header-->

		<!-- page content, just text -->
		<div class="row content-text">
			<br>
			<p>
				Part 1: Describe Dinner Out. What it does. And how it was created.
				<br><br>
			</p>
			<p>
				Part 2: Thank you Turning Pointe and others. 
				<br><br>
			</p>
			<p>
				Part 3: Authors. Dinner Out is the creation of... Capstone2017 student profiles. (smile)
			</p>

			<!-- bottom padding for demo only -->
			<p style="padding-bottom: 100px;"></p>
		</div>   <!-- row -->
	</div> <!--content col-->
		



