<!-- Help page by Steven Young -->
		<!-- page header -->
		<div class="page-header vertical-align">
			<div class="col-xs-11">
				<h2>Help<small> - frequently asked questions about GeoGem</small></h2><!-- Dynamically fills in with school id -->
			</div>
			<div class="col-xs-1 center-block">
				<div class="header-sq i-gray" title="Help page">
					<span class="fa fa-question-circle-o fa-3x teacher-icon"></span>
				</div>
			</div>
		</div><!--End page header-->

		<!-- intro text -->
		<div class="row content-text">
			<p>
				<br>
				Here are the answers to 20 questions (frequently asked) about GeoGem. 
			</p>
			<p>
				Select a section icon or just scroll down for help.
			</p>
		</div>

		<!-- action icons, row 2 -->
		<div class="row action-icon-row" >
            <!-- Getting started icon-->
			<div class="col-xs-2 col-xs-offset-1 text-center" >
				<div class ="action-sq i-navy center-block" >
					<a href="#getting-started"><span class="fa fa-paper-plane-o fa-4x action-icon" ></span></a>
				</div>
				<p><a href="#getting-started"><span class="student-icon-text">Getting started</span></a></p>
			</div> <!--End Getting started icon-->
            
			<div class="col-xs-2 text-center" >
                <!-- Sessions icon-->
				<div class ="action-sq i-red center-block">
					<a href="#sessions"><span class="fa fa-key fa-4x action-icon"></span></a>
				</div>
				<p><a href="#sessions"><span class="student-icon-text">Sessions</span></a></p>
			</div><!--End Sessions icon-->
            
            <!-- Admin poweres icon-->
			<div class="col-xs-2 text-center" >
				<div class ="action-sq i-yellow center-block">
					<a href="#admin-powers"><span class="fa fa-trophy fa-4x action-icon"></span></a>
				</div>
				<p><a href="#admin-powers"><span class="student-icon-text">Admin powers</span></a></p>
			</div><!-- End Admin poweres icon-->
            
            <!-- Ect icon-->
			<div class="col-xs-2 text-center">
				<div class ="action-sq i-ltblue center-block">
					<a href="#etc"><span class="fa fa-shower fa-4x action-icon"></span></a>
				</div>
				<p><a href="#etc"><span class="student-icon-text">Etc</span></a></p>
			</div><!--End Ect icon-->
		</div><!-- row -->

		<!-- page content, just text -->
        <!-- Getting started questions -->
		<div class="row content-text">
			<a id="getting-started"></a>
			<h3 class="help-header">Getting Started &nbsp; <span class="fa fa-paper-plane-o fa-fw fa-1x i-navy help-small-sq" ></span> </h3>
			<p>
				<span class="help-qa-letter">Q1:</span> What is GeoGem?
			</p>
			<p class="help-answer-para">
				<span class="help-qa-letter">A:</span> GeoGem is a web application that collects and analyzes behavioral data for students with autism.<br>
				The program was created by computer science students at <a href="http://www.noctrl.edu">North Central College</a>. 
				You can read more at the <%= link_to "About", about_path %>.
			</p>
			
			<hr class="help-line">
			
			<p>
				<span class="help-qa-letter">Q2:</span> My student behavior squares are not there.
			</p>
			<p class="help-answer-para">
				<span class="help-qa-letter">A:</span> You must talk to the admin to add a square to the session.
			</p>
            <hr class="help-line">
            <p>
				<span class="help-qa-letter">Q3:</span> I started a session with the wrong student.
			</p>
			<p class="help-answer-para">
				<span class="help-qa-letter">A:</span> Click the GeoGem logo and pick a different student
			</p>
			<!-- end getting started questions -->
			<hr class="help-line">
            <!-- Sessions questions -->
			<a id="sessions"></a>
			<h3 class="help-header">Sessions &nbsp;  <span class="fa fa-key fa-fw fa-1x i-red help-small-sq" ></span></h1>
			<p>
				<span class="help-qa-letter">Q1:</span> Are these question numbers working? Is 20 questions too goofy?
			</p>
			<p class="help-answer-para">
				<span class="help-qa-letter">A:</span> We shall see. It does make help at least <i>a little</i> more fun.<br>
				The last question is always: how do I get more help? And the answer is my email.
			</p>
			<!-- end sessions questions -->
			<hr class="help-line">
            <!-- Admin powers questions-->
            <a id="admin-powers"></a>
			<h3 class="help-header">Admin Powers &nbsp;  <span class="fa fa-trophy fa-fw fa-1x i-yellow help-small-sq" ></span></h1>
			<p>
				<span class="help-qa-letter">Q1:</span> Are these question numbers working? Is 20 questions too goofy?
			</p>
			<p class="help-answer-para">
				<span class="help-qa-letter">A:</span> We shall see. It does make help at least <i>a little</i> more fun.<br>
				The last question is always: how do I get more help? And the answer is my email.
			</p>
			<!--End Admin powers questions-->
			<hr class="help-line">
            
            <!-- Ect questions-->
            <a id="etc"></a>
			<h3 class="help-header">Etc &nbsp;  <span class="fa fa-shower fa-fw fa-1x i-ltblue help-small-sq" ></span></h1>
			<p>
				<span class="help-qa-letter">Q1:</span> Are these question numbers working? Is 20 questions too goofy?
			</p>
			<p class="help-answer-para">
				<span class="help-qa-letter">A:</span> We shall see. It does make help at least <i>a little</i> more fun.<br>
				The last question is always: how do I get more help? And the answer is my email.
			</p>
			<!--End Ect questions-->
			<hr class="help-line">

			<!-- bottom padding for demo only -->
			<p style="padding-bottom: 100px;"></p>
				
		</div>   <!-- row -->

	</div><!--End content col-->
</div><!--End container-->


<!-- 5. Jquery: jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- 6. Bootstrap Javascript: Include all compiled plugins (below), or include individual files as needed -->
<!-- Got this from CDN: https://www.bootstrapcdn.com/ -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>



   