
			<!-- page header -->
			<div class="page-header">
				<h2>Help <small> - frequently asked questions about Dinner Out
					<div class ="header-sq i-gray pull-right" title="Super User!">
						<span class="fa fa-question fa-2x header-icon"></span>
					</div>
				</small></h2>
			</div>

			<!-- page content, just text -->
			<div class="content-text">
				<br>
				<form class="form-horizontal" action="school1.html"></form>
            <div class="row">
                <br>
                <div class="col-xs-2 col-xs-offset-1 text-center">
                  <!--   <div class="fa fa-circle fa-3x" style="color:red" aria-hidden="true"></div>-->  <!-- commented out image... off center -->
                    <a href="#sessions">Sessions Help</a>
                </div>
                <div class="col-xs-2 col-xs-offset-1 text-center">
                 <!--    <div class="fa fa-circle fa-3x" style="color:red" aria-hidden="true"></div>-->   <!-- commented out image... off center -->
                    <a href="#Students">Students Help</a>
                </div>
                <div class="col-xs-2 col-xs-offset-1 text-center">
                  <!--   <div class="fa fa-circle fa-3x" style="color:red" aria-hidden="true"></div>-->    <!-- commented out image... off center -->
                    <a href="#Reports">Reports Help</a>
                </div>
                <div class="col-xs-2 col-xs-offset-1 text-center">
                  <!--   <div class="fa fa-circle fa-3x" style="color:red" aria-hidden="true"></div>-->   <!-- commented out image... off center -->
                    <a href="#Admin">Admin Help</a>
                </div>
            </div>
            <div class="row">                          <!--Blank rows to ad space to page -->
                <div class="col-lg-6"></div>
                <!--Blank row -->
                <div class="col-lg-6"></div>
            </div>
            <div class="row">
                <div class="col-lg-6"></div>
                <!--Blank row -->
                <div class="col-lg-6"></div>
            </div>
            <div class="row">
                <div class="col-lg-6"></div>
                <!--Blank row -->
                <div class="col-lg-6"></div>
            </div>
        </div>
       
    <!--End Container Fluid-->

    <div class="row">
        <a name="sessions" a style="text-decoration: none;">
            <center>
                <h2>Sessions:</h2>
                <h3> Q.  My student behavior squares are not there.</h3>
                <h4> A. You must talk to the admin to add a square to the session.</h4>
                <br>

                <h3> Q.  I started a session with the wrong student.</h3>
                <h4> A. Click the dinner out logo and pick a different student</h4>
                <br>

                <h3> Q.  I clicked on the wrong behavior square</h3>
                <h4> A. Click on the “undo” button to undo the last click
                  </h4></center>
        </a>
        <br>
        <br>
        <br>
    </div>
    <!--Start text questions about Students-->
    <div class="row">
        <a name="Students" a style="text-decoration: none;">
            <center>
                <h2>Student:</h2>
                <h3> Q.  I can’t see the student on my page.</h3>
                <h4> A.  Click on the dropdown menu for a list of your students.<br>
                     A.  If your student is not in the drop down, talk with an admin.<br><br>
                  </h4></center>
        </a>
        <br>
        <br>
        <br>
        <div class="col-lg-6"></div>
        <!--Start text questions about reports-->

        <div class="row">
            <a name="Reports" a style="text-decoration: none;">
                <center>
                    <h2>Reports:</h2>
                    <h3> Q.  I can’t see past student reports.</h3>
                    <h4> A.  You must have admin rights to see past session reports.<br>
                     A.  If you are an admin and still can't see reports, talk with an admin.<br>
                  </h4></center>
            </a>
            <br>
            <br>
            <div class="col-lg-6"></div>
            <!--Blank row -->
            <!--Start text questions about admin-->
        </div>
        <div class="row">
            <a name="Admin" a style="text-decoration: none;">
                <center>
                    <h2>Admin:</h2>
                    <h3> Q.  How do I add a new student?</h3>
                    <h4> A. Click on “all students”, then click on “new student.”</h4>
                    <br>
                    <br>

                    <h3> Q. How do I add a new teacher?</h3>
                    <h4> A. Click on “all teachers”, then click on “New Teacher.”<br><br>
                  </h4></center>
            </a>
            <br>
            <br>
            <br>
            <br>
            <div class="col-lg-6"></div>
        </div>

   