<%= form_for (student_squares), :method => :destroy do |form| %>
			<!-- remove square row-->
			<div class="row vertical-align add-rm-squares-row">
				<div class="col-xs-1 col-xs-offset-1 text-right">
					<span class="fa fa-minus" style="color: red;"></span>
				</div>
				<div class="col-xs-2 text-left">
					<label for="removeSquare"><h4>Remove Square: </h4></label>
				</div>
				<div class="form-group col-xs-2">
        	 <%= form.select :id, options_for_select(@student_squares.map {|student_square| ["#{set_square_name(student_square)} - #{set_square_desc(student_square) }", student_square.id, {'data-id'=>student_square.id}] }), class: "form-control", id: "addStud"%>
				</div>
				<div class="col-xs-2 text-center">
				  <%= form.submit "Remove Square", class:"btn btn-danger"%>
				</div>
			</div><!--End row -->
<%end%>
