<h1>Graph#todo</h1>
<p>Find me in app/views/graph/todo.html.erb</p>
<h1>TODO:</h1>
<p>make graph controller w/ views</p>
<p>migrate code from test application</p>
<p>confirm graphs work</p>
<p>confirm heroku works</p>
<p>create postgresql branch, repeat last 2 steps</p>
<p>implement group_by_date or find alternative</p>