<!-- Robert Herrera changes-->

<!-- page header -->
<div class="page-header vertical-align">
	<div class="col-xs-11">
		<h2>Admin Dashboard<small> - manage school TPTE</small></h2><!-- Dynamically fills in with school id -->
	</div>
		<div class="col-xs-1 center-block">
			<div class="header-sq i-plum" title="Bianca17">
				<span class="fa fa-apple fa-3x teacher-icon"></span>
			</div>
		</div>
</div><!--End page header-->

<!-- Will use current_user to create dynamic links -->
<div class="header-sq i-ltblue" title="Turning Pointe Autism Foundation"> <!--Need to add code for teachers icon-->
	<span class="fa fa-home fa-3x teacher-icon"></span>
</div>
<div>
<form action='schools/2'>
	<button type="submit" class="col-sm-offset-1 btn btn-lg btn-success"></span> 
	School Profile</button>
</form>

<div class="header-sq i-ltblue" title="Turning Pointe Autism Foundation"> <!--Need to add code for teachers icon-->
</div>
<form action='students'>
	<button type="submit" class="col-sm-offset-1 btn btn-lg btn-success"></span>  
	All Students</button>
</form>
<div class="header-sq i-ltblue" title="Turning Pointe Autism Foundation"> <!--Need to add code for teachers icon-->
	<span class="fa fa-home fa-3x teacher-icon"></span>
</div>

<form action='teachers'>
	<button type="submit" class="col-sm-offset-1 btn btn-lg btn-success"></span>  
	All Teachers</button>
</form>

<div class="header-sq i-ltblue" title="Turning Pointe Autism Foundation"> <!--Need to add code for teachers icon-->
	<span class="fa fa-home fa-3x students-icon"></span>
</div>
<form action='squares'>
	<button type="submit" class="col-sm-offset-1 btn btn-lg btn-success"></span>  
	All Squares</button>
</form>

<div class="header-sq i-ltblue" title="Turning Pointe Autism Foundation"> <!--Need to add code for teachers icon-->
	<span class="fa fa-home fa-3x students-icon"></span>
</div>
<form action='students/show'>
	<button type="submit" class="col-sm-offset-1 btn btn-lg btn-success"></span>  
	Admin Report</button>
</form>