<!-- Robert Herrera -->
<p id="notice"><%= notice %></p>

<!-- page header -->
	<div class="page-header vertical-align">
			<div class="col-xs-11">
				<h2>Super Dashboard<small> - manage schools at TPTE</small></h2><!-- Dynamically fills in with school id -->
			</div>
			<div class="col-xs-1 center-block">
				<div class="header-sq i-plum" title="Bianca17">
					<span class="fa fa-apple fa-3x teacher-icon"></span>
				</div>
			</div>
		</div>
<!--End page header-->
<tbody>
	 <form action="/updateFocus" method="post">
			<select required>
				<% @schools.each do |school| %>
					<option value="<%= school.school_name %>"><%= school.school_name %></option>
		   		<% end %>
			</select> 
	   <input type="submit" value="Change Focus School">
	</form>
</tbody>