@charset "utf-8";
/***********************************************************
* Login CSS Stylesheet Document 
* Written by: Andrew Alonso-Emanuel
************************************************************/

/*********************************************************
*  LOGIN STYLING
*********************************************************/

/* 
	Gradient background images are from: www.uigradients.com
	Fancy pattern bg images are from: bg.siteorigin.com
	CSS gradients at: 
	testdrive-archive.azurewebsites.net/Graphics/CSSGradientBackgroundMaker/Default.html
	
	@dljensen colors.
	blue = rgb( 36, 88, 183) = #2458B7 
	lightblue = rgb( 151, 237, 236) = #97edec 
	red = rgb(236, 81, 74) = #EC514A 
	yellow=rgb(255, 235, 101) = #FFEB65 
	
*/

body {

	/* IE10 Consumer Preview */ 
/*	background-image: -ms-linear-gradient(bottom left, #F9F9F9 0%, #2458B7 100%); */
	
	/* Mozilla Firefox */ 
/*	background-image: -moz-linear-gradient(bottom left, #F9F9F9 0%, #2458B7 100%); */
	
	/* Opera */ 
/*	background-image: -o-linear-gradient(bottom left, #F9F9F9 0%, #2458B7 100%); */
	
	/* Webkit (Safari/Chrome 10) */ 
/*	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #F9F9F9), color-stop(1, #2458B7)); */
	
	/* Webkit (Chrome 11+) */ 
/*	background-image: -webkit-linear-gradient(bottom left, #F9F9F9 0%, #2458B7 100%); */
	
	/* W3C Markup, IE10 Release Preview */ 
/*	background-image: linear-gradient(to top right, #F9F9F9 0%, #2458B7 100%);
	background-repeat: repeat;
	background-size: 200%; */

  /*background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	*/
	/*background-image: url('grad_center.jpg') cover;*/
}

.login-container {
}

.login-row {
	margin-top: 7%;
}

.login-col {
	background-color: rgba(36,88,183,0.2);
	border-radius: 10px;
	border: 1px solid #2458B7;
}

.login-header-text {
	font-family: "Rubik", sans-serif;
	font-size: 3.0em;
	text-align: center;
	color: #444444;
}
.logout-row {
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
	padding-bottom: 2%;
}

.logout-art {
	padding-top: 2%;
}
.logout-art-text {
	font-size: 1.2em;
}

/* 
	source: 
	stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3 
*/
/*.navbar-login {
	background-color: rgba(36,88,183,0.2);
}
*/

/*
	Source: https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
*/
.navbar-default {
  background-color: #2458b7;
  border-color: #2458b7;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffeb65;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffeb65;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffeb65;
  background-color: #2458b7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffeb65;
  background-color: #2458b7;
}
.navbar-default .navbar-toggle {
  border-color: #2458b7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2458b7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffeb65;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffeb65;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffeb65;
    background-color: #2458b7;
  }
}

/*
Possible fix to container-fluid, scrollbar woes...
stackoverflow.com/questions/23768152/using-container-fluid-within-bootstrap-cause-horizontal-scrollbar
Or, just use container.

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*/
/*
.well
{
	background: lightgray;
}


.well a
{
	color:white;
}

.well label
{
	color:white;	
}

.well h3 
{
	color:white;	
}

.artHeader
{
	border-style: solid;
    border-width: 2px;
	color:white;
}

.header h1
{
	color:white;	
}

.artInfo h5, a, h3
{
	color:white;	
}
*/